<!-- Loop through each post and put them in post-wrapper-->
<!-- Then link the title to the post -->

<div id="post-wrapper">

<% @posts.each_slice(3) do |posts| %>

  		
  		<div class="row intro">

  			<p>My space for learning, creating and experiencing food techniques, ingredients and tastes...
  			</p>
  		</div>

	  	<div class="row post_covers">
	    <% posts.each do |post| %>
	      <div class="col-md-4">
	      	<%= link_to image_tag post.cover.url if post.cover?%>

	      	<h1 class="title"><%= link_to post.title, post %></h1>
			<p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
			<p class="profile"><%=raw post.profile %></p>
			<p class="description"><%=raw post.description %></p>
	      </div>
	    <% end %>
	  	</div>
 	

<% end %>

</div>




