<div id="show-content">
<div class="page-wrapper">
	<h1 class="show-title">
		<%= @post.title %>
	</h1>
	

	<p class="show-date">
		Submitted <%= @post.created_at.strftime("%B %d, %Y") %>
		<% if user_signed_in? %>
			| <%= link_to 'Edit', edit_post_path(@post) %>
			| <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
		<% end %>
	</p>

	<div class="row show_img">
		<div class= "col-md-12">
			<%= image_tag @post.showcover.url, :class => "imgshow" if @post.showcover? %>
		</div>
	</div>

	<p class="body_text">
		<%=raw @post.body %>
	</p>


	<!--Only show recipe section if there is one -->
	<% unless @post.recipe.blank? %>
	<p class="recipe">
		<div class="recipe_style"><%=raw @post.recipe %></div>
	</p>
	<% end %>

	
	<!--
	<div class="comments">
		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>

		<h3>Add a comment:</h3>
		<%= render "comments/form" %>
	</div>
	-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

	document.addEventListener('page:change', function() 
	{
    	document.getElementById('show-content').className += 'animated fadeIn';
	});

	document.addEventListener('page:fetch', function() 
	{
        document.getElementById('show-content').className += 'animated fadeOut';
	});
</script>

</div>
</div>