<!DOCTYPE html>
<html>
<head>
  <title>TracEy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

	<div id="wrapper">
		
		<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <%= link_to root_path do %>
					<%= image_tag "succ1.jpg", :size => '50x50' %>
				<% end %>
                </li>
				<li><%= link_to "Notes", root_path %></li>
				<li class="list_border"></li>
				<li><%= link_to "About", about_path %></li>
				<li class="list_border"></li>
				<li><a href="https://www.linkedin.com/in/tracey-norkjaer-1a408641?trk=nav_responsive_tab_profile" target="_blank">LinkedIn</a></li>
				<li class="list_border"></li>
				<li><a href="https://www.facebook.com/kaelo.nrkj" target="_blank">Facebook</a></li>
				<li class="list_border"></li>
				<li><a href="">Medium</a></li>
				<li class="list_border"></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


			<!--
			<% if !user_signed_in? %>
				<p class="sign_in"><%= link_to "Admin login", user_session_path %></p>
			<% end %>
			-->


		 <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            	<div class="row">
            		<div class="col-lg-12">
	            		<% if current_page?(root_path) %>
						 <p>All Posts</p>
							<% elsif current_page?(about_path) %>
							 <p>About</p>
							<% else %>
								<%= link_to "All Posts", root_path %>
							<% end %>
				
						<% if user_signed_in? %>
							<div class="button">
								<button class="btn btn-default" type="button"><%= link_to "New Post", new_post_path%></button>
								<button class="btn btn-default" type="button"><%= link_to 'log out', destroy_user_session_path, :method => :delete%></button>	
							</div>
						
						<% end %>
            	</div>

                <div class="row">
                    <div class="col-lg-12">
                        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

			<!--Flash message to show after an action
			What is the difference between <%= %> and without the = sign? -->
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert")%>
			<% end %>

			<%= yield %>
		

	</div>

</body>
</html>
